body{
	background: Orange;
}

*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

#cabecalho{
	background: white;
	width: 100%;
	height: 150px;
	text-align: center;
}
button{
	border: none;
	width: 70px;
	height: 20px;
	border-radius: 15px;
	background: deepskyblue;
}